.team {
  padding: 16px;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
}

.team .container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.team h3 {
  font-size: 32px;
  display: inline-block;
  padding-bottom: 8px;
  font-family: Prata;
  font-weight: 400;
}

.team h3 p {
  width: 32px;
  height: 4px;
  background-color: #6278F7;
  display: block;
  margin: 6px auto;
}

.team-employees {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  place-items: center;
  gap: 32px
}

.color-input {
  position: absolute;
  right: 0;
}
